/* hero part */
.banner09 {
  position: relative;
  display: inline-block;
  width: 100%;
}

.smile{
  position: relative;
  width: 160px;
height: 170px;
margin-left: 30%;
}
.modalhead{
  margin-top: 5%;
  position: relative;
  margin-left: 20%;
}

.modalbody{
  margin-top: 7%;
  position: relative;
  margin-left: 20%;
  font-size: large;
}

.modal1 {
  background-color: #a5e1ce;
}

.modal2 {
  background-color: #a5e1ce;
}

.assbutt3{
  text-decoration:none;
  color:#4e4949;
}

.img09 {
  position: relative;
  width: 100%;
  height: 282px;
  /* z-index: 1; */
}

.img0009 {
  position: absolute;
  width: 90px;
  height: 90px;
  right: 80%;
  margin-top: 7%;
  z-index: 2;
}

.hero-text09 h2 {
  position: absolute;
  color: var(--Dark-grey, #4e4949);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.8px;
  width: 480px;

  bottom: 75vh;
  left: 38%;
}

.button_space19 {
  margin-left: 10%;
  justify-content: space-between;
  margin-top: 4%;
  display: inline-flex;
  width: 200px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  border-radius: 12px;
  border: 1px solid var(--Darkest-green, #7cae9e);
  background: var(--Light-green, #ebfff5);
}

.button_space29 {
  margin-right: 10%;
  display: inline-flex;
  width: 200px;
  padding: 8px 16px;
  margin-left: 25px;
  justify-content: center;
  align-items: center;
  /* gap: 50px; */
  border-radius: 12px;
  background: var(--Darkest-green, #7cae9e);
  margin-top: 4%;
  margin-bottom: 5%;
  color:#fff;
}

.modbutt1{
  text-decoration:none;
  color:#4e4949;
}

.text09 h2 {
  color: #4e4949;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.text09 h6 {
  color: var(--Dark-grey, #4e4949);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.text09 {
  position: relative;
  margin-top: 280px;
  /* left: 27%; */
  color: #58786e;
  background-color: EBFFF5;
  text-align: center;
  margin-top: 6%;
}

.img139 {
  position: absolute;
  width: 60px;
  height: 35px;
  flex-shrink: 0;
  top: 1%;
  left: 90%;
}
.img129 {
  position: absolute;
  width: 60px;
  height: 35px;
  flex-shrink: 0;
  top: 15%;
  left: 80%;
}
.img119 {
  position: absolute;
  width: 60px;
  height: 35px;
  flex-shrink: 0;
  left: 90%;
  top: 30%;
}
.img149 {
  position: absolute;
  width: 90px;
  height: 70px;
  flex-shrink: 0;
  left: 90%;
  top: 70%;
}

.img159 {
  position: absolute;
  width: 60px;
  height: 35px;
  flex-shrink: 0;
  left: 80%;
  top: 50%;
}

.brain09 {
  position: absolute;
  /* top: 25%; */
  right: 61%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  bottom: 67vh;
  z-index: 2;
}

.progress09 {
  position: absolute;
  width: 400px;
  height: 12px;
  bottom: 70vh;
  right: 31%;
  z-index: 1;
}

