/* Add a black background color to the top navigation */
.topnav {
    /* background-color: #333; */
    overflow: hidden;
}

.logo {
    height: 20%;
    width: 15%;
    float: left;
}

/* Style the links inside the navigation bar */
.topnav a {
    /* float: left; */
    float: inline-start;
    display: block;
    color: #4E4949;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
    /* background-color: #ddd; */
    color: #4E4949;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #4E4949;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover,
.dropdown:hover .dropbtn {
    /* background-color: #555; */
    color: #4E4949;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.pink {
    position: relative;
    height: 40vh;
    width: 98vw
}

.flowerleft {
    position: absolute;
    left: 10%;
}

.flowerright {
    position: absolute;
    right: 20%;
    top: 20%;
}



@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
    box-sizing: border-box;
}

/* body {
	
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
} */

/* .container {
    position: relative;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    margin-left: 33%;
    top: 30%;
} */

/* .head {
	border: 3px solid #CFECE0;
	background-color: #f7f7f7;
	padding: 20px 40px;
    border-style: solid;
    border-color: #CFECE0;
    border-bottom: none;
    
} */

.form h2 {
    margin: 0;
    color: #4E4949;
}

.form {
    padding: 30px 40px;
    border-style: solid;
   
    border-radius: 40px;
    border: 8px solid var(--Dark-Green, #CFECE0);
    background: var(--White, #FFF);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.12);
   
    position: absolute;
    bottom: 30%;
    

}


.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

/* .form-control label {
    display: inline-block;
    margin-bottom: 5px;
} */

/* .form-control input {
    border: 2px solid #f0f0f0;
    
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 12px;
} */

/* .form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
} */

/* .form button {
    background-color: #7CAE9E;
    border: 2px solid #7CAE9E;
    border-radius: 12px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;


    
} */

/* .emailing {
    margin-right: 10%;
} */

.btn1 {
   
    background-color: #7CAE9E;
    border: 2px solid #7CAE9E;
    border-radius: 12px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

/* .btn2{
    border-radius: 12px;
border: 1px solid var(--Darkest-green, #7CAE9E);
background: var(--Light-green, #EBFFF5);
} */


/* 
.otpverify {
    display: none;
    width: 20%;
} */



/* /////////////////// */

/* Your global CSS styles */

footer {
    font-family: 'poppins', sans-serif;
    background-color: #f8e8e9;
    color: #4e4949;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    position: relative;
}

.footer-column {
    flex: 1;
    padding: 10px;
}

/* Logo and Follow Us */
.logo1 img {
    position: absolute;
    width: 220px;
    height: 60px;
    left: 7.5%;
    top: 15%;
}

.follow-us {
    position: absolute;
    font-weight: bold;
    left: 8.5%;
    top: 55%;
}

/* Social Icons */
.social-icons {
    position: absolute;
    display: flex;
    gap: 10px;
    left: 7.5%;
    top: 75%;
}

.social-icons img {
    height: 50px;
    text-decoration: none;
}

/* Quick Links and Other Links */
.footer-column>h3 {
    font-size: 1.2em;
}

.foot1 {
    list-style: none;
    padding: 0;
}

.foot2 {
    margin-bottom: 20px;
    /* color: #4e4949; */
}

a {
    text-decoration: none;
    color: #4E4949;
}

.copyright {
    text-align: center;
    padding: 10px;
    background-color: #F8E8E9;
    color: #4E4949;
    font-size: 14px;
}

/* Media Queries */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
        width: 100vw;
    }

    .logo1 img {
        width: 110px;
        height: 40px;
        left: 5%;
        top: 10%;
    }

    .follow-us {
        top: 1%;
        left: 60%;
    }

    .social-icons {
        top: 22%;
        left: 50%;
    }

    .social-icons img {
        height: 25px;
    }

    .footer-column1 {
        position: absolute;
        left: 8%;
        top: 35%;
    }

    .footer-column2 {
        /* position: absolute; */
        margin-left: 40%;
        margin-top: 19%;
    }

    .foot2 {
        margin-bottom: 2px;
    }

    .footer-column>h3 {
        font-size: .8rem;
    }

    .foot1 a {
        font-size: .7rem;
    }

    /* .social-icons {
        justify-content: center;
    } */
}